/*
Auteur : Charles-Olivier Lefebvre
Da : 2130875
Session : H2022
*/

.menu,
.home,
.titre,
.footer {
    font-family: "Yeezy";
}


@font-face {
    font-family: "Yeezy";
    src: url("../font/vcr_osd_mono/webfontkit/webfontkit-20220406-102053/vcr_osd_mono_1.001-webfont.woff2") format("woff2"),
        url("../font/vcr_osd_mono/webfontkit/webfontkit-20220406-102053/vcr_osd_mono_1.001-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}