.hero-image {
  position: relative;
  background-image: url("../images/background.jpg");
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;  
}



.main {
  height:100%;
  
}

body {
  padding: 0;
  margin: 0;
  border: 0;
}

  .menu {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #010101;
    top: 0;
    width: 100%;
    z-index: 1;    
  }
  
  
  
  .menu a {
    
    float: right;
    color: #fefdfd;
    text-align: bottom;
    margin: auto;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    
  
  }

 
  
  .menu  a:hover{
    color: #5f43b2;
  }


  
  


  .home p {
    color: #fefdfd;
    font-size: 120px;
    padding: 15px;
    margin: 0;
  }
  
  .text{
    position: absolute;
    right:200px;
    top: 100px;
  }

  .button{
    font-family: "Yeezy";
    color: #fefdfd;
    right: 100px;
    background-color: #5f43b2
    
    

    

  }