body {
    background-image: url('/images/background.jpg');
    margin:0;
  }

  

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #010101;
    position: sticky;
    top: 0;
    width: 100%;
    
  }
  
  
  
  .menu a {
    float: right;
    display: block;
    color: #fefdfd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu a:hover:not(.active) {
    background-color: #010101;
  }
  
  .menu  a:hover{
    color: #5f43b2;
  }

  .menu a:hover{
    color: #fefdfd;
  }

  
  .active {
    background-color: #5f43b2;
  }